.pixel-art-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 4px;
  text-align: center;
  max-width: 500px; /* Add max-width to limit the modal width */
  width: 90%; /* Set a width to make the modal responsive */
}

.size-selection {
  background-color: #FF00FF;
  padding: 1rem;
  margin-bottom: 1rem;
}

.color-selector-text {
  color: #ffffff;
  font-weight: bold;
  margin-right: 0.5rem;
}

.pixel-grid {
  display: grid;
  grid-gap: 0;
  background-color: transparent;
  margin-top: 10px;
  border: 1px solid #4299e1;
  aspect-ratio: 1/1;
  width: 100%; /* Set width to fill the container */
}

.pixel {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.pixel-grid.transparent-grid .pixel {
  border: 0.5px solid lightgray;
}

.grid-toggle {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-label {
  color: #4299e1;
  margin-right: 0.5rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-button {
  padding: 8px;
  margin: 2px;
  background-color: #4299e1;
  color: #ccc;
}

.toggle-button:hover {
  background-color: #00FF00;
  color: #4299e1;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4299e1;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.transparent-grid {
  background-color: transparent !important;
}

.grid-size-toggle {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.grid-size-button {
  background-color: #e0e0e0;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-right: 0.5rem;
}

.grid-size-button.active {
  background-color: #4299e1;
  color: #ffffff;
}

/* Pixel grid sizes */

.pixel-grid-50 {
  grid-template-columns: repeat(var(--selected-size, 50), 1fr);
  max-width: 500px;
  width: 100%;
  height: 500px;
}

.pixel-grid-25 {
  grid-template-columns: repeat(var(--selected-size, 25), 1fr);
  max-width: 500px;
  width: 100%;
  height: 500px;
}

.pixel-grid-15 {
  grid-template-columns: repeat(var(--selected-size, 15), 1fr);
  max-width: 500px;
  width: 100%;
  height: 500px;
}

.form-group {
  margin: 4px;
  color: #4299e1;
}
