.pix-gallery {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    padding: 2rem;
    color: #ffffff;
  }
  
  .pix-gallery-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .pix-gallery-subheading {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  
  .card {
    background-color: #ccc;
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid #4299e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
    transition: 0.4s ease;
    opacity: 0; /* Initially hide the cards */
    animation: fadeIn 0.4s forwards; /* Apply fade-in animation */
  }
  
  .card-title {
    color: #4299e1;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  
  .card-image {
    margin-bottom: 1rem;
  }
  
  .card-image canvas {
    max-width: 100%;
    height: auto;
  }
  
  .card-caption {
    font-size: 0.8rem;
    color: #4299e1;
    margin-top: auto;
    margin-bottom: auto;
  }

  .card-size-25 {
    border: 2px solid #f44336;
  }  

  .card-size-25 .card-title {
    color: #f44336;
  }  
  
  .card-size-50 {
    border: 2px solid #FF00FF;
    grid-column-end: span 3;
  }
  
  .card-size-50 .card-title {
    color: #FF00FF;
  }

  .card-size-50 .card-image canvas {
    width: 100%;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Initial position for the animation */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Final position for the animation */
    }
  }
  